body.about {
  background-color: #eee;

  .caption1 {
    padding: 12px 18px;
    border: 2px solid var(--black);
    border-radius: 60px;
  }

  section {
    &.s1 {
      position: relative;
      height: calc(100vh - 24px);
      background-color: rgba(0, 0, 0, 1);
      align-items: center;
      justify-content: center;
      gap: 20px;
      overflow: hidden;
      animation: video_background-opacity 0.4s cubic-bezier(0.7, 0, 0.05, 1)
        0.1s 1 forwards;

      h2 {
        text-align: center;
        color: var(--white);
      }

      @keyframes video_background-opacity {
        from {
          background-color: rgba(0, 0, 0, 1);
        }
        to {
          background-color: rgba(0, 0, 0, 0.1);
        }
      }

      video {
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -100;
        border-radius: 30px;
      }
    }

    .b1 {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &.s2,
    &.s6 {
      flex-direction: row;
      gap: 10px;

      .b1 {
        width: calc(33.5vw - 12px - 28px - 10px);
      }

      .b2 {
        width: calc(66.5vw - 12px - 28px);

        h1 {
          width: 92%;
        }
      }
    }

    &.s3 {
      gap: 28px;

      .b1 {
        width: 100%;
      }

      .b2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10px;

        .circle-block {
          background-color: var(--blue);
          color: var(--white);
          border-radius: 1000px;
        }

        .c1 {
          height: calc(33.5vw - 12px - 28px);
          width: calc(66.5vw - 12px - 28px - 10px);
          display: flex;
          flex-direction: row;

          .left {
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 49%;

            h2 {
              width: 60%;
            }
          }

          .right {
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            width: 51%;

            h2 {
              padding: 12px 20px;
              gap: 10px;
              background-color: var(--white);
              color: var(--black);
              border-radius: 50px;
            }
          }
        }
        .c2 {
          display: flex;
          flex-direction: column;
          gap: 12px;
          justify-content: center;
          align-items: center;
          height: calc(33.5vw - 12px - 28px);
          width: calc(33.5vw - 12px - 28px);
          text-align: center;

          h2 {
            width: 60%;
          }

          img {
            width: 100px;
          }
        }
      }
    }

    &.s4 {
      gap: 80px;

      .b1 {
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;

        .left {
          width: calc(33.5vw - 12px - 28px - 10px);
          display: flex;
          justify-content: flex-start;
        }
        .right {
          width: calc(66.5vw - 12px - 28px);
          display: flex;
          justify-content: flex-start;

          .body {
            opacity: 40%;
            width: 60%;
            min-width: 600px;
          }
        }
      }

      .b2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .first,
        .second,
        .third {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }

        .first {
          .rect {
            width: 70%;
          }
        }

        .second {
          .rect {
            width: 50%;
          }
        }

        .third {
          .rect {
            width: 55%;
          }
        }

        .left {
          width: calc(33.5vw - 12px - 28px - 10px);
          display: flex;
          justify-content: flex-start;

          .rect {
            height: 100%;
            background-color: var(--blue);
            border-radius: 80px 0px 0px 80px;
          }
        }
        .right {
          width: calc(66.5vw - 12px - 28px);
          display: flex;
          justify-content: flex-start;
        }
      }
    }

    &.s5 {
      padding: 0;

      .b1 {
        margin-left: 28px;
        margin-top: 28px;
        width: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        position: absolute;
      }
    }

    &.s6 {
      .b2 {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
          width: 90%;
        }
      }
    }

    &.footer {
      .block1 {
        display: flex;
        flex-direction: row;
        gap: 22px;
        align-items: center;

        .text {
          display: flex;
          flex-direction: column;
          gap: 8px;

          a {
            color: var(--white);

            &:hover {
              opacity: 75%;
              transition: 0.05s ease-out;
            }
            &:active {
              opacity: 50%;
              transition: 0.01s ease-out;
            }
          }
        }
      }
    }
  }
}
